      <center><div class="card-img-top" alt="gif of young girl looking around at the different signs of ADHD">
  <%= image_tag('adhd.gif')   %>
    </div>
<div id="margin">
<div  class="d-flex align-items-center"class="card" style="width: 50rem;">

  
    <div class="card-body">
      <h5 class="card-title">Attention Deficit Hyperactivity Disorder (ADHD/ADD)</h5>
      <p class="card-text">A lot of the time when people think of Attention Deficit Hyperactivity Disorder (ADHD) they think of it being a childhood condition, but this isn’t totally true. Yes, in a lot of cases ADHD is detected and diagnosed during childhood, but this doesn’t mean that it’s something that people outgrow as they age. Most of the time a child’s ADHD symptoms will change and adapt with them as they mature into an adult. Certain symptoms of ADHD can also lessen as children pass through stages of development. When children are diagnosed early on, by adulthood they will have usually developed coping strategies to help them manage the condition.</p>
      <a href="https://www.cdc.gov/ncbddd/adhd/facts.html#:~:text=ADHD%20is%20one%20of%20the,)%2C%20or%20be%20overly%20active." class="btn btn-primary" target="_blank">More Information</a>
    </div>
  </div>
</div></center>
