<center><div class="card-img-top" alt="picture outling the 11 signs of autism in girls">
  <%= image_tag('signs-of-autism-in-girls-260304_FINAL-5c05c53146e0fb00013c0214.png')   %>
</div>
<div id="margin">
  <div  class="d-flex align-items-center"class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">Autism</h5>
      <p class="card-text">According to the American Psychiatric Association, Autism Spectrum Disorder “is a complex developmental condition that involves persistent challenges in social interaction, speech, and nonverbal communication and restricted/repetitive behaviours. The effects of  ASD and the severity of symptoms are different in each person.” ASD is typically diagnosed in young children and is typically thought to be more common in males than females. While that may be true, there is also a growing amount of cis-women and AFAB (assigned female at birth) who are being diagnosed as adults.</p>
      <a href="https://www.intimina.com/blog/autism-in-women-what-signs-to-look-for/" class="btn btn-primary"  target="_blank">More Information</a>
    </div>
  </div>
</div></center>
