  <center><div class="card-img-top" alt="image of a young girl being overshadow by mountain of letters and academic tools">
  <%= image_tag('Dyslexia-2.jpg')   %>
    </div>
<div id="margin">
  <div  class="d-flex align-items-center"class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">Dyslexia</h5>
      <p class="card-text">Dyslexia is a language-based learning disability. Dyslexia refers to a cluster of symptoms, that results in people having difficulties with specific language skills, particularly reading. Students with dyslexia often experience difficulties with both oral and written other language skills, such as writing, and pronouncing words and writing. Dyslexia affects individuals throughout their lives; however, its impact can change at different stages in a person’s life. It is referred to as a learning disability because dyslexia can make it very difficult for a student to succeed without phonics-based reading instruction that is unavailable in most public schools.. In its more severe forms, a student with dyslexia may qualify for special education with specially designed instruction, and as appropriate, accommodations.</p>
      <a href="https://dyslexia.yale.edu/dyslexia/what-is-dyslexia/" class="btn btn-primary" target="_blank">More Information</a>
    </div>
  </div>
</div>
</center>