<% if user_signed_in? %> 
    
        <div class="container">
            <h1>Welcome <%= current_user.username =%> to Open Access!</h1>
        </div>
    </div>
 <% else %>  

    <div class="container", center>
        <div class="row">
            <div class="col-md-2">
                <h2>ACCESSING NEURODIVERSITY</h2>
                <p>Thank you for stopping by Open Access To Success. 
        This website aims to demystifying Neurodiversity. Provide resources to education 
        and increase access to all. Finally we want to teach inclusion and diversity in a world made of the abled.</p>
          
            </div>

    </div>
  <% end %>