      <center><div class="card-img-top" alt="photo of venn diagram outlining the strenght and weakness of tourette">
  <%= image_tag('TS.png')   %>
    </div>
<div id="margin">
  <div  class="d-flex align-items-center"class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">Tourette Syndrome</h5><p>Tourette syndrome (TS) is a neurological disorder characterized by sudden, repetitive, rapid, and unwanted movements or vocal sounds called tics. TS is one of a group of disorders of the developing nervous system called tic disorders.</p>
      <a href="https://www.ninds.nih.gov/health-information/disorders/tourette-syndrome?search-term=tourette%20syndrome" class="btn btn-primary"  target="_blank">More Information</a>
    </div>
  </div>
</div>
</center>